<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Training Suite">
    <test name="Selenium Tests">
        <classes>
            <class name="com.aw.automationtraining.SeleniumTest"/>
        </classes>
    </test>
    
    <test name="Rest Assured Tests">
        <classes>
            <class name="com.aw.automationtraining.RestAssuredTest"/>
        </classes>
    </test>
</suite>
